[submodule "vim/vim/bundle/editorconfig-vim"]
	path = vim/vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/vim/bundle/gundo.vim"]
	path = vim/vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-buffergator"]
	path = vim/vim/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/vim/bundle/vim-dispatch"]
	path = vim/vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-json"]
	path = vim/vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/vim/bundle/vim-scriptease"]
	path = vim/vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/vim/bundle/tmuxline.vim"]
	path = vim/vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-signify"]
	path = vim/vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "util/powerline-fonts"]
	path = util/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/vim-node"]
	path = vim/vim/bundle/vim-node
	url = https://github.com/idearat/vim-node.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/promptline.vim"]
	path = vim/vim/bundle/promptline.vim
	url = https://github.com/idearat/promptline.vim.git
[submodule "vim/vim/bundle/vim-togglelist"]
	path = vim/vim/bundle/vim-togglelist
	url = https://github.com/idearat/vim-togglelist.git
[submodule "util/powerline"]
	path = util/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim/vim/bundle/requirejs.vim"]
	path = vim/vim/bundle/requirejs.vim
	url = https://github.com/idearat/requirejs.vim.git
[submodule "vim/vim/bundle/vim-extradite"]
	path = vim/vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "vim/vim/bundle/kotlin-vim"]
  path = "vim/vim/bundle/kotlin-vim"
  url = https://github.com/udalov/kotlin-vim
[submodule "vim/vim/bundle/typescript-vim"]
  path = "vim/vim/bundle/typescript-vim"
  url = https://github.com/leafgarland/typescript-vim
[submodule "vim/vim/bundle/vim-colors-solarized"]
  path = "vim/vim/bundle/vim-colors-solarized"
  url = https://github.com/altercation/vim-colors-solarized
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
